.tooltip-area {
   position: relative;
   display: inline-block;
}
 
.tooltip-area .tooltiptext {
   visibility: visible;
   width: auto;
   background-color: #dc3545;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 5px 5px;
   
   /* Position the tooltip */
   position: absolute;
   z-index: 1;
   top: 85%;
}

.tooltip-area .buttontip {
   visibility: hidden;
   width: auto;
   background-color: #dc3545  ;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 5px 5px;
   
   /* Position the tooltip */
   position: absolute;
   z-index: 1;
   top: 85%;
}

.tooltip-area:hover .buttontip {
   visibility: visible;
}